<%= link_to_unless_current gravatar_for(user, size: 52), user_path(user) %>
<h1>
  <%= user.name %>
</h1>
<% unless current_page?(controller: 'users', action: 'show', id: user.id) %>
  <span>
    <%= link_to 'view my profile', user %>
  </span>
  <span>
    <%= pluralize(user.microposts.count, 'micropost') %>
  </span>
<% end %>
