<div class="row">
  <aside class="span4">
    <section>
      <%= render partial: 'shared/user_info', locals: { user: current_user } %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <%= render partial: 'shared/list', locals: {
      head: 'Micropost Feed',
      items: feed_items,
      item_class: 'micropost',
      uid: current_user.id
    } %>
  </div>
</div>
